.button {
    background-color: $red;
    color: #fff;
    border-radius: 16px;
    text-align: center;
    border: none;
    &__long{
        margin-top: 35px;
        width: 335px;
        height: 48px;       
        font-size: 16px;
        font-weight: 700;   
    }
    &__small {
        height: 36px; 
        min-width: 110px;
        font-size: 16px;
        font-weight: 700; 
        
    }
    &__light{
        background-color: #fff;
        color: $red;
        border: 1px solid $red;
    }

}