@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './buttons.scss';

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-fz28 {
    font-size: 28px;
    color: $dark;
    text-align: center;
}

button {
    // Remove default margin and padding
    margin: 0;
    padding: 0;
  
    // Reset background, border, and outline
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
    }
}


p {
    margin: 0;
    padding: 0;
}
main {
    max-width: 1200px; /* Restricts the width of the content */
    margin: 0 auto;
}

.back{
    font-size: 28px;
    color: $red;
    position: absolute;
    left: 250px;
    text-decoration: underline;
    &::before{
        content: '';
        position:absolute;
        width: 30px;
        height: 30px;
        left: -40px;
        bottom: 0;
        background-image: url('../assets/icons/arrow-back-red.svg');
    }
}

