@import '../../style/style.scss';


.side-menu {
    padding: 12px 0 20px 0px;
    background-color: #fff;
    width: 235px;

    &__title{
        font-size: 16px;
        color: $red;
        margin-top: 12px;
        margin-bottom: 28px;
        position: relative;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: #c7c7c7;
            top: -12px;
        }
    }
    &__link-wrapper{
        margin-bottom: 40px;
    }
    &__link{
        position: relative;
        color: #571846;
        padding: 9px 20px;
        font-size: 16px;
        width: 235px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 18px auto 24px;
        gap: 15px;
    }
    .indicator{
        width: 24px;
        height: 24px;
        font-size: 16px;
        color:#fff;
        background-color: $red;
        border-radius: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
    }
}