@import '../../style/style.scss';

.side-menu {
    padding: 12px 0 20px 0px;
    background-color: #fff;
    width: 200px;
    background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

    &__title {
        font-size: 16px;
        color: $red;
        margin-top: 12px;
        margin-bottom: 28px;
        position: relative;
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;

    }

    &__link-wrapper {
        margin-bottom: 40px;
        list-style: none;
        padding: 0;
    }

    &__link {
        color: #571846;
        position: relative;
        padding: 12px 20px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start; // Yatay hizalama
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #f5f2f2;
            color: $red;
        }

        &.active {
            background-color: #f5f2f2;
            font-weight: bold;
            color: $dark;
        }
    }

    .indicator {
        position: absolute;
        right: 10px;
        width: 24px;
        height: 24px;
        font-size: 14px;
        color: #fff;
        background-color: $red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    &__user {
        margin-top: 20px;
        text-align: center;

        &-pic {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #ddd;
            margin: 0 auto 10px;
            object-fit: cover;
            display: block; // Tam ortalama
        }

        &-name {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 1rem;
            color: #571846;
            text-align: center; // Ortala
        }

        &-email {
            font-size: 0.9rem;
            color: #888;
            text-align: center; // Ortala
        }
    }
}
