@import '../../style/style.scss';


.side-menu {
    padding: 12px 0 20px 37px;
    background-color: #fff;
    width: 235px;

    &__title{
        font-size: 16px;
        color: $red;
        margin-top: 12px;
        margin-bottom: 28px;
        position: relative;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: #A6A6A6;
            top: -12px;
        }
    }
    &__link-wrapper{
        margin-bottom: 40px;
    }
    &__link{
        color: #571846;
        padding: 9px 20px;
        font-size: 16px;
        width: 100%;
        border-radius: 8px;
        display: flex;
        align-items: center;
        img{
            margin-right: 15px;
        }
    }
}