@import '../../style/style.scss';

.form {
    margin: 0 auto;
    padding: 45px 35px;
    border-radius: 24px;
    border: 1px solid $dark-op-30;
    width:fit-content;
    &__pages{
        font-size: 16px;
        color: $dark;
        margin-top: 25px;
        text-align: center;
        line-height: 16px;
        img{
            width: 16px;
            margin-right: 5px;
        }
    }
    &__label{
        font-size: 16px;
        color: $dark
    }
    &__wrapper{
        width: 335px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        .input__wrapper{
            margin-top: 25px;
            min-height: 70px;
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    }
    &__input{
        margin-top: 10px;
        height: 40px;
        width: 335px;
        padding: 0 15px;
        font-size: 16px;
        color: $dark-op-50;
        border-radius: 8px;
        border: 1px solid $dark-op-30;
        .phone__input{
            display: flex;
            justify-content: space-between;
        }
        &-code{
            padding: 0 10px 0 0;
            font-size: 16px;
            color: $dark;
            max-width: 90px;
            height: 100%;
            border: none;
        }
        &-phone{
            padding: 0 20px;
            font-size: 16px;
            color: $dark-op-50;
            width:200px;
            height: 100%;
            border: none;
        }
    }
    &__error{
        font-size: 16px;
        color: $red;
        margin-top: 10px;
    }
    
    
}
.react-international-phone-input-container{
    .react-international-phone-input {
        height: 40px;
    }
    .react-international-phone-selector {
        height: 40px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}
