.profile-form {
  margin-left: 250px;
  margin-top: 20px;
  max-width: 700px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .profile-header {
    display: flex; /* Yan yana hizalama */
    align-items: center; /* Dikey olarak ortalama */
    margin-bottom: 20px;

    .profile-picture-wrapper {
      width: 80px; /* Profil resmi boyutu */
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px; /* Resim ile içerik arasına boşluk */
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;

      h2 {
        font-size: 20px;
        color: #571846;
        margin: 0;
      }

      p {
        font-size: 14px;
        color: #888;
        margin: 5px 0;
      }
    }

    .edit-button {
      margin-left: auto; /* En sağa hizala */
      padding: 8px 16px;
      font-size: 14px;
      background-color: #ff5733;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e04a2b;
      }
    }
  }

  label {
    font-weight: bold;
    color: #571846;
    margin-bottom: 5px;
    display: block;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .form__group {
    margin-bottom: 20px;
  }

  .form__actions {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #571846;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #ff5733;
      }
    }
  }
}

/* Mobil düzenlemeler */
@media (max-width: 768px) {
  .profile-form {
    margin-left: 0; /* Mobilde tam genişlik */
    max-width: 100%;
    padding: 15px;
  }

  .profile-header {
    flex-direction: column;
    align-items: flex-start;

    .edit-button {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
