.profile-form {
  background-color: #F5F2F2;
  border-radius: 24px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 450px; /* Varsayılan genişliği yüzde olarak ayarla */
  max-width: 600px; /* Maksimum genişlik sınırı */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  border: 1px solid #e0e0e0;
  text-align: center;

  .profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 335px;
    justify-content: left;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    .profile-picture-wrapper {
      position: relative;

      .profile-picture {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }

      .edit-icon {
        position: absolute;
        bottom: 0;
        right: -10px;
        background-color: #fff;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        color: #571846;
        font-size: 18px;
        transition: color 0.3s;

        &:hover {
          color: #571846;
        }
      }
    }

    .profile-info {
      text-align: left;

      h2 {
        margin: 0;
        font-size: 20px;
        color: #571846;
      }

      p {
        margin: 5px 0;
        color: #666;
      }
    }
  }

  .form__wrapper {
    width: 100%;
    .input__wrapper {
      margin-bottom: 15px;
      text-align: left;
      width: 100%;

      .form__label {
        font-size: 14px;
        font-weight: 500;
        color: #571846;
        margin-bottom: 5px;
        display: block;
      }

      .form__input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        color: #333;
        background-color: #fff;
      }
    }
  }
}

/* Responsive Düzenlemeler */
@media (max-width: 768px) {
  .profile-form {
    padding: 15px; /* Mobil cihazlar için daha küçük padding */
    .profile-header {
      flex-direction: column; /* Dar ekranlarda üst üste yerleştir */
      align-items: center; /* Profil resmini ortala */
    }

    .profile-picture-wrapper .profile-picture {
      width: 70px;
      height: 70px;
    }

    .form__wrapper {
      .input__wrapper {
        .form__input {
          font-size: 13px; /* Daha küçük yazı boyutu */
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .profile-form {
    padding: 10px;
    .profile-header {
      gap: 10px; /* Daha az boşluk */
      .profile-info h2 {
        font-size: 18px; /* Daha küçük başlık boyutu */
      }

      .profile-info p {
        font-size: 12px; /* Daha küçük alt metin boyutu */
      }
    }
  }
}