@import '../../style/style.scss';

.settings{
    width:920px;
    
    &__action {
        font-weight: 700;
        color: $dark;
        font-size: 18px;
        &-delete {
            color: $red;
        }
        &:hover{
            color: $orange;
        }
    }
    &__descr {
        font-size: 14px;
        margin-top: 15px;
        color: $dark;
    }
}