/* Temel stil */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(13, 12, 12);
}

.navbar-logo a {
    color: rgb(24, 24, 24);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: rgb(87, 24, 70);
    text-decoration: none;
    font-family: 'Jost'  , sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: rgb(198, 0, 56);
}

/* Responsive Stil */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* Küçük ekranlar için */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        text-align: center;
    }

    .navbar-links li {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}
