.about-us-page {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 20px;

  .hero {
    background: url('../../src/assets/img/aboutUs.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 50px 0;

    h1 {
      font-size: 2.5rem;
      margin: 0;
    }
  }

  .who-we-are,
  .our-vision,
  .our-mission,
  .partners {
    margin: 40px 0;

    h2 {
      font-size: 1.8rem;
      color: #5e2750;
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      font-size: 1rem;
      margin-bottom: 20px;
      text-align: justify;
    }

    .link {
      display: inline-block;
      color: #d6336c;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Kutucuk tasarımı */
  .our-vision,
  .our-mission {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .partners {
    .partner-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    .partner-card {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
      width: calc(33.333% - 20px);
      text-align: center;

      h3 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
      }

      .title {
        font-size: 1rem;
        color: #666;
        margin-bottom: 10px;
        font-style: italic;
      }

      p {
        font-size: 0.9rem;
        color: #555;
      }
    }
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .hero {
    padding: 30px 0;

    h1 {
      font-size: 2rem;
    }
  }

  .who-we-are,
  .our-vision,
  .our-mission,
  .partners {
    margin: 30px 0;

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.95rem;
    }
  }

  .partners .partner-card {
    width: calc(50% - 20px);
  }

  .our-vision,
  .our-mission {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 20px 0;

    h1 {
      font-size: 1.8rem;
    }
  }

  .who-we-are,
  .our-vision,
  .our-mission,
  .partners {
    margin: 20px 0;

    h2 {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .partners .partner-card {
    width: calc(100% - 20px);
  }

  .our-vision,
  .our-mission {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 15px 0;

    h1 {
      font-size: 1.5rem;
    }
  }

  .who-we-are,
  .our-vision,
  .our-mission,
  .partners {
    margin: 15px 0;

    h2 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.85rem;
    }
  }

  .partners .partner-card {
    padding: 15px;
    width: 100%;
  }

  .our-vision,
  .our-mission {
    padding: 10px;
  }
}
