@import '../style/style.scss';

.products {
    &__page {
        margin-left: 310px;
        margin-bottom: 60px;
        margin-top: 0;
        position: relative;
        // z-index: -2;
    }

    &__sorting {
        height: 32px;
    }

    &__control {
        display: grid;
        grid-template-columns: 220px 1fr minmax(332px, 370px);
    }

    &__list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 35px;

    }
}

