.sectors {
    position: relative;

    /* Hamburger Menü */
    &__toggle {
        display: none; /* Varsayılan olarak görünmez */
        position: fixed;
        top: 20px;
        right: 20px; /* Sağ üstte */
        background-color: #ff5733;
        border: none;
        border-radius: 20px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        cursor: pointer;
        z-index: 1001;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: #e14e2d;
            transform: scale(1.05);
        }

        @media (max-width: 768px) {
            display: flex; /* Sadece mobilde görünür */
        }
    }

    /* Menü */
    &__menu {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        background-color: white;
        position: fixed;
        top: 60px;
        right: 0;
        width: 250px;
        padding: 10px;
        z-index: 1000;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: translateX(300px); /* Mobilde gizlenmiş başlangıç durumu */
        transition: transform 0.3s ease;

        &.open {
            transform: translateX(0); /* Açıldığında ekrana gelsin */
        }
    }

    &__item {
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        background-color: #fff;
        color: #333;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: #f0f0f0;
        }

        &.active {
            background-color: #ff5733;
            color: #fff;
        }
    }

    @media (min-width: 769px) {
        /* Masaüstü için hamburger menüyü gizle */
        &__toggle {
            display: none;
        }

        &__menu {
            position: fixed;
            top: 150px;
            left: 0;
            width: 225px;
            height: auto;
            transform: none;
            padding: 0;
            border: none;
            box-shadow: none;
        }

        &__item {
            width: 225px;
            height: 53px;
            font-size: 16px;
        }
    }
}
