@import '../../style/style.scss';

.pagination {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content; // Flexible width
        height: auto; // Flexible height
        padding: 0 8px;
        margin:0 auto; // Optional padding for the wrapper
        margin-top: 50px; // Add space above the pagination component
    }

    &__body {
        display: flex; // Use flex for flexibility
        gap: 8px; // Spacing between page buttons
        margin: 0 10px; // Add margin to separate from the arrows
    }

    &__page {
        min-width: 32px; // Minimum width for buttons
        height: 32px;
        border-radius: 50%;
        font-size: 16px; // Adjust font size as needed
        padding: 0 8px; // Add horizontal padding for flexibility
        color: $dark;
        text-align: center;

        &.active {
            color: #fff;
            background: $orange;
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
