@import '../../style/style.scss';
@import '../../components/forms/form.scss';

.contact{
    &__form{
        max-width: 880px;
        margin:0 auto;
        padding-top: 50px;
        text-align: left;


    }
    &__wrapper{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 335px 500px;
        grid-template-rows: repeat(3, 70px);
        gap: 40px;
    }    

}

.form{
    &__wrapper{
        display: flex;
        flex-direction: column;
    }
    
    
}
#name {
    grid-column: 1/2;
}

#email{
    grid-column: 1/2;
}

#message{
    
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-column: 2/3;
    grid-row: 1/3;
    .form__input{
        height: 150px;
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        color: $dark-op-50;
        border-radius: 8px;
        border: 1px solid $dark-op-30;
    }
}

#button{
    margin: 0;
    grid-column: 1/3;
    justify-self: center;
}