@import '../../style/style.scss';
@import '../../components/forms/form.scss';

.contact {
    &__form {
        max-width: 880px;
        margin: 0 auto;
        text-align: left;
    }

    &__wrapper {
        margin-top: 30px;
        display: grid;
    }    

}


#message{
    
    .form__input{
        height: 100px;
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        color: $dark-op-50;
        border-radius: 8px;
        border: 1px solid $dark-op-30;
    }
}

#button{
    margin: 0;
    justify-self: end;
}
