@import '../../style/style.scss';

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 240px;
    border-radius: 16px;
    border: 1px solid $dark-op-50;
    background-color: #fff;
    z-index: 1001;
    padding: 45px 25px 30px 25px;
    color: $dark;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        font-size: 28px;
        font-weight: 700;
    }
    &__subtitle{
        font-size: 16px;
        margin-top: 20px;
    }

    &__close{
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        cursor: pointer;
    }
    .button__wrapper{
        display: grid;
        min-width: 235px;
        grid-template-columns: repeat(2 , minmax(110px, 130px));
        gap: 15px;
        align-self: flex-end;
        justify-self: flex-end;        
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark background */
    z-index: 1000;
}