@import '../../style/style.scss';
@import '../forms/form.scss';



.product{
    padding-bottom: 55px;
    width: 825px;
    margin: 0 auto;
    color: $dark;
    display: grid;
    grid-template-columns: 400px 370px;
    grid-template-rows: minmax(460, auto) auto;
    column-gap: 50px;
    row-gap: 60px;
    // &__info{
        

    // }
    &__image{
        width: 400px;
        height: 458px;
        object-fit: cover;
    }
    &__title{
        font-size: 28px;
    }
    &__price{
        margin-top: 20px;
        font-size: 36px;
        font-weight: 700;
    }
    &__descr{
        margin-top: 40px;
        

        &-text{
            width:auto;
            margin-top: 15px;
            font-size: 16px;
            color: $dark-op-50;
        }
    }

    &__comment{
        margin-top: 10px;
        border-bottom: 1px solid $dark-op-30;
        padding: 15px 0;
        &-wrapper{
            grid-column: 1 / 3;
        }
        &-title{
            color: $dark;
            font-size: 20px;
            font-weight: 700;
        }
        &-form {
            width: 100%;
            display: grid;
            grid-template-rows: minmax(110px, auto) 36px;
            justify-items: end;
            gap: 15px;
        }
        &-field{
            width: 100%;
            margin-top: 25px;
            padding: 10px 15px;
            font-size: 16px;
            color: $dark-op-50;
            border-radius: 8px;
            border: 1px solid $dark-op-30;
        }
    }
}
